@use './variables' as vars;

$hover-color: #e0e0e0;
$border-radius: 8px;

.left-panel {
  width: 20%;
  height: 100vh;
  background-color: vars.$color-neutral;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.btn {
  padding: 10px 20px;
  border-radius: $border-radius;
  text-transform: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.new-chat-btn {
  background-color: vars.$text-link !important; /* 기본 배경색 강제 적용 */
  color: vars.$color-light !important;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: lighten(vars.$text-link, 10%) !important; /* hover 상태에서 더 진하게 */
  }
}

.clear-btn {
  background-color: vars.$color-dark !important; /* 기본 배경색 강제 적용 */
  color: darken(vars.$color-dark, 50%) !important;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(vars.$color-dark, 10%) !important; /* hover 상태에서 더 진하게 */
  }
}

.chat-list {
  flex-grow: 1;
  overflow-y: auto;
}

.chat-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: $border-radius;
  background-color: vars.$color-light;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }

  .chat-name {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .chat-date {
    font-size: 10px;
    color: #888;
  }

  .edit-delete-buttons {
    visibility: hidden;
    display: flex;
    gap: 10px;
  }

  &:hover .edit-delete-buttons {
    visibility: visible;
  }
}

.active-chat-item {
  background-color: vars.$color-dark !important;
}

